<div class="container-fluid bg-dark">
  <div class="row">
    <!-- nav -->
    <nav class="navbar navbar-light">
      <div class="container">
        <a
          style="
            text-decoration: none;
            /* background-color: aliceblue; */
            /* border-radius: 50%; */
            color: rgb(247, 244, 244);
            font-size: x-large;
            width: 50px;
            text-align: center;
            font-weight: bolder;
          "
          class="navbar-brand"
          >MOVIES</a
        >
        <span class="d-flex input-group w-auto">
          <input
            [formControl]="searchMovie"
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
          />

          <span
            (click)="onCancel()"
            *ngIf="searchMovie.value.length"
            class="input-group-text border-0 btn"
            id="search-addon"
          >
            <i class="fas fa-search"></i>
          </span>
        </span>
      </div>
    </nav>
    <!-- nav -->
  </div>
</div>
<div
  *ngIf="searchMovie.value.length && loading"
  class="d-flex justify-content-center mt-5"
>
  <div class="spinner-grow text-secondary mt-5 ml-3" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-secondary mt-5 ml-3" role="status">
    <span class="sr-only"></span>
  </div>
  <div class="spinner-grow text-secondary mt-5 ml-3" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div class="flex col-12">
  <p
    *ngIf="indicator && searchMovie.value.length && !(flag === 0 || flag === 1)"
    class="lead"
    style="font-size: small; font-weight: bold; text-align: center"
  >
    search resulf from "{{ name }}"
  </p>
  <div
    *ngIf="flag === 0 && searchMovie.value.length"
    class="alert alert-warning"
    role="alert"
    style="text-align: center"
  >
    {{ error }}
  </div>
  <div
    *ngIf="flag === 1 && searchMovie.value.length"
    class="alert alert-danger"
    role="alert"
    style="text-align: center"
  >
    {{ error }}
  </div>
  <!-- custom parameters -->
  <!-- <app-slider></app-slider> -->
  <!-- <app-slider [movies]="ListOfMovies"></app-slider> -->
  <app-initial-home [movies]="ListOfMovies"></app-initial-home>
  <!--  -->
  <app-card-view
    *ngIf="indicator && searchMovie.value.length && !(flag === 0 || flag === 1)"
    [movies]="ListOfMovies"
    [currentPage]="currentPage"
    [totalItems]="totalItems"
  ></app-card-view>

  <pagination-controls
    class="lead"
    style="text-align: center"
    *ngIf="indicator && searchMovie.value.length && !(flag === 0 || flag === 1)"
    (pageChange)="renderPage($event)"
  ></pagination-controls>
</div>
